@model ICollection<MemberPhoneViewModel>
@{
    ViewData["Title"] = "Home Page";
}


@if (TempData["AddPhoneSuccessMsg"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @* <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill" /></svg>*@
        <i class="bi bi-check-circle-fill"></i>
        @TempData["AddPhoneSuccessMsg"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@if (TempData["DeleteFailedMsg"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @* <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill" /></svg>*@
        <i class="bi bi-check-circle-fill"></i>
        @TempData["DeleteFailedMsg"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@if (TempData["DeleteSuccessMsg"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @* <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill" /></svg>*@
        <i class="bi bi-check-circle-fill"></i>
        @TempData["DeleteSuccessMsg"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}



<div>
    <a class="btn btn-primary" asp-controller="Home"
       asp-action="AddPhone">
        Yeni Telefon Ekle
    </a>

</div>
<br />

<div class="row">
    @if (Context.User.Identity?.Name == null)
    {
        <p> Buraya resim ya da içeriğe dair tasarım gelecektir </p>
    }
    else if (Model.Count == 0)
    {
        <h4>Rehberinizde henüz kimse yoktur. Yeni numara eklediğinizde burada listelenecektir.</h4>
    }
    else
    {
        int counter = 0;
        <table class="table table-hover table-bordered" id="phoneTable">
            <thead>
                <tr>
                    <th>Sıra No</th>
                    <th>Eklendiği Tarih</th>
                    <th>Kategori</th>
                    <th>İsim Soyisim</th>
                    <th>Telefon</th>
                    <th>İşlemler</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td><b>@(counter += 1)</b> </td>
                        <td>
                            @item.CreatedDate.ToString("dd/MM/yyyy")
                        </td>
                        <td>@item.PhoneType.Name</td>
                        <td>@item.FriendNameSurname</td>
                        <td>@item.Phone</td>
                        <td>
                            <a class="btn btn-primary btn-sm"
                               href="/Home/EditPhone/@item.Id">
                                Düzenle
                            </a>

                            <a class="btn btn-danger btn-sm"
                       asp-controller="Home" asp-action="DeletePhone"
                       asp-route-id="@item.Id">
                                Sil
                            </a>

                            <a class="btn btn-info btn-sm"
                               onclick="deletePhone(@item.Id)">
                                AJAX ile Sil
                            </a>
                        </td>

                    </tr>
                }
            </tbody>
        </table>

    }

</div>

@section Scripts{
    <script>

        function deletePhone(id) {
            $.ajax({
                contentType: 'application/json; charset=utf-8',
                type: 'Post', // type GET, POST olabilir
                url: '/Home/PhoneDelete',
                data: JSON.stringify(id), // {id:2} // type:Get olursa bu satırı yazmayız
                datatype: 'json',
                success: function (response) {
                    alert("silindi");

                    // window.open("/Home/Index", target: "_self"); bunu kullanamayız çünkü bu komut sayfayı yeniliyor

                    $("#phoneTable > tbody").html('');
                    var row = "";
                    var counter = 0;

                    console.log(response);
                    $.each(response.phones, function () {
                        row += "<tr><td><b>" + (counter += 1) + "</b></td>";
                        var phoneDate = new Date(this.createdDate);
                        var day = phoneDate.getDate();
                        var month = phoneDate.getMonth() + 1;
                        var year = phoneDate.getFullYear();

                        if (day < 10) {
                            day = '0' + day;
                        }
                        if (month < 10) {
                            month = '0' + month;
                        }
                        var date = day + "." + month + "." + year;

                        row += "<td>" + date + "</td>";
                        row += "<td>" + this.phoneType.name + "</td>";
                        row += "<td>" + this.friendNameSurname + "</td>";
                        row += "<td>" + this.phone + "</td>";
                        row += "<td>";

                        row += "<a class='btn btn-primary btn-sm' href = '/Home/EditPhone/" + this.id + "'> Düzenle</a>";

                        row += "<a class='btn btn-danger btn-sm' asp-controller='Home' asp-action='DeletePhone' asp-route-id=" + this.id + ">Sil</a> ";

                        row += "<a class='btn btn-info btn-sm' onclick = 'deletePhone(" + this.id + ")'> AJAX ile Sil </a>";


                        row += "</tr>";
                    }); // $.each döngüsü burada bitti.

                    $("#phoneTable > tbody").append(row); // .hmtl'yi deneyelim
                },
                error: function (response) {
                    alert(response.message);
                }

            }); // ajax burada bitti


        } //deletePhone fonk. burada bitti


    </script>
}
